extends ../_layouts/default

block title
	title Build Your Wealth Management Client Base by Investing in Good Design
	
block vars
	- var bodyClass = 'home';

block content
	include ../_partials/index
