// States Styles.

// Universal Links.
a {
  transition: all .6s;
  &:link {
    text-decoration: none;
  }
  &:hover {
    cursor: pointer;
  }
}

// Input Color.
input {
  outline: none;
  box-shadow: none !important;
}
@mixin input_text_color($color) {
  &::-webkit-input-placeholder {
   color: $color;
  }
  &:-moz-placeholder {
   color: $color;
  }
  &::-moz-placeholder {
   color: $color;
  }
  &:-ms-input-placeholder {
   color: $color;
  }
}

// Tab styles.
.tab_wrap {
  background-color: $grey_dark;
}
#portfolio_tab {
  width: 100%;
  display: flex;
  overflow: hidden;
  > li {
    flex: 1;
    height: 500px;
    flex-direction: column;
    @media #{$phablet} {
      height: 200px;
    }
    > a {
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      border: none;
      display: block;
      border-radius: 0;
      line-height: normal;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      &:hover,
      &:active,
      &:focus {
        &::before {
          position: absolute;
          content: '';
          z-index: 5;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
      span {
        position: absolute;
        z-index: 6;
        bottom: $px_ten;
        right: $px_ten;
        color: $white;
        @include font-size(12px);
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
        .fa {
          margin-left: $px_five;
        }
      }
    }
  }
}
.tab-content {
  position: relative;
  @extend .container;
  .tab-pane {
    margin-top: $px_ten*5;
    margin-bottom: $px_ten*3;
  }
  .portfolio_child_items {
    @include make-xs-column(6);
    @include make-sm-column(3);
    img {
      @extend .img-thumbnail;
      width: 100%;
      margin-bottom: $px_ten*2;
    }
  }
  .close {
    top: $px_fifteen;
    opacity: 1;
    color: $white;
    right: $px_fifteen;
    position: absolute;
  }
}
