// States Styles.

// Universal Links.
a {
  // transition: all .6s;
  &:link {
    text-decoration: none;
  }
  &:hover {
    cursor: pointer;
  }
}

// Input Color.
input,
textarea {
  outline: none;
  box-shadow: none !important;
}
textarea {
  resize: none;
}

// HR
.divider {
  margin: 0;
  padding: 0;
  border-color: $grey_dark;
}

// Validation styles.
input, textarea {
  &.error {
    margin-bottom: $px_ten !important;
  }
}
label {
  &.error {
    color: $orange;
    margin: 0 0 $px_ten;
  }
}
.error {
  color: $orange;
  @include font-size(14px);
  font-weight: $font-weight-bold;
  margin: -$px_fifteen 0 $px_ten*2;
}
.report {
  color: $grey;
  @include font-size(14px);
  font-weight: $font-weight-bold;
  margin: -$px_ten 0 $px_five;
  @media #{$phablet} {
    margin: 0 0 $px_fifteen;
  }
}
