header.banner
  .container
    .row
      .site-logo
        a(href="http://baustein.ca", target="_blank", title="Visit Baustein Strategic Design Group Inc.")
          img(src="images/logo.png", alt="Baustein Strategic Design Group Inc.")
      nav.site-navigation(role="navigation")
        a.navigation__lets_talk(href="#contact__link")
          | Let's Talk
          img(src="images/icons/lets_talk.svg", alt="Let's Talk")
        a.navigation__phone(href="tel:+16474305262") +1 647 430 5262
    .row
      .site-banner
        h1.site-title
          | Build your Wealth Management Client Base. 
          span Invest in  
            strong Good Design.
section.features
  .container
    .row.equal
      .feature-item  
        .feature
          h2 First Impressions Matter
          p Potential clients form an opinion of your firm in less than 10 seconds based on the design of your brand and communication materials.
      .feature-item
        .feature
          h2 Propel Your ROI
          p 
            | The majority of people judge the credibility of a business based on design. Businesses that add value through design see a greater impact on business performance.
            sup **
      .feature-item.link        
        .feature            
          h2 How We Can Help          
          .feature__content
            p
              | Download our corporate brochure to find out Who We Are, What We Do and How We Do It.            
          .feature__brochure
            a.download__brochure(href="baustein_design_corporate_brochure.pdf", target="_blank", title="Download our corporate brochure to find out Who We Are, What We Do and How We Do It.")
              img(src="../images/corporate_brochure.png", alt="How We Can Help")
          //- .clearfix
          //- .feature__report
          //-   a(href="https://www.designcouncil.org.uk/sites/default/files/asset/document/dc_lbbd_report_08.11.13_FA_LORES.pdf", target="_blank", title="Download our corporate brochure to find out Who We Are, What We Do and How We Do It.")
          //-     img(src="images/icons/logo_pdf.svg", alt="How We Can Help")
          //-     span Report
section.advertise
  .container
    .row
      .advertise_heading
        h2 A limited marketing budget does not mean limited access to good design.
        p For approximately the same cost of a part-time designer, you can access an entire design team, each person specializing in different areas of design that will cover all of your company’s creative needs. Good design is imperative to the success of your business.
      .advertise_content
        img(src="images/icons/animation_designer.svg", alt="Sole Graphic Designer")
        img(src="images/icons/animation_arrow.svg", alt="Arrow")
        img(src="images/icons/animation_roles.svg", alt="Roles of a Designer")
section.services
  .container
    .row
      .services_heading
        h2 Baustein Strategic Design Group
        p 
          | Baustein is a multi-disciplinary creative partner – a 
          span ‘one-stop-shop’ 
          | for all your firms’ marketing and creative needs. We specialize in creating memorable brand identities and professional design solutions for all your online and print materials.        
    .row
      .services_second
        ul
          li
            img(src="images/icons/extensive_experience.svg", alt="Extensive experience in corporate design")
            span Extensive experience in corporate design
          li
            img(src="images/icons/access_to_team.svg", alt="Access to an entire team at an affordable rate")
            span Access to an entire team at an affordable rate           
          li
            img(src="images/icons/customized_billing.svg", alt="Customized and transparent billing model")
            span Customized and transparent billing model
          li
            img(src="images/icons/honest_approach.svg", alt="Honest, reliable and confidential approach")
            span Honest, reliable and confidential approach
section.expertise
  .nav-tabs__bg    
    ul#expertise_tab.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#brand_development', aria-controls='brand_development', role='tab', data-toggle='tab')
          | Brand Development
          span.visible-sm <br>
      li(role='presentation')
        a(href='#marketing', aria-controls='marketing', role='tab', data-toggle='tab')
          | Marketing
          span.visible-sm <br>
      li(role='presentation')
        a(href='#design', aria-controls='design', role='tab', data-toggle='tab')
          | Design & Imagery
          span.visible-sm <br>
      li(role='presentation')
        a(href='#websites', aria-controls='websites', role='tab', data-toggle='tab')
          | Website Design & Development
  .tab-content
    #brand_development.tab-pane.active(role='tabpanel')
      .row
        .col-sm-4
          h2 Branding & Visual Identity
          p We offer a range of creative solutions including naming, brand positioning and visual identity design.
        .col-sm-4
          h2 Logo & Wordmark Design
          p Your logo or wordmark is the core of your brand identity. Our team of designers create appealing logos that will communicate the proper brand image and message to your clients.
        .col-sm-4
          h2 Typographic Treatments
          p A great brand identity requires an equally strong family of fonts that work well across all print and digital media.
      .row
        .col-sm-4
          h2 Colour Palette
          p A strategically selected colour palette ties all your marketing materials together. We will help you select the proper colour palette for your firm.
        .col-sm-4
          h2 Visual Language
          p The visual language and elements you use including photography, iconography, and other graphic elements define your brand voice. We can help you get it right.
        .col-sm-4
          h2 Brand Guidelines
          p Your brand guidelines define the use of your brand elements. Our design team can help you create a unified brand message across all channels and media.
    #marketing.tab-pane(role='tabpanel')
      .row
        .col-sm-4
          h2 Marketing Strategy
          p Our team of strategists can help you identify your ideal types of clients and define the proper marketing tactics to reach them.
        .col-sm-4
          h2 Lead Generation
          p Baustein can create the proper print, social, and email marketing campaigns to reach your target audiences and build your client base.
        .col-sm-4
          h2 Video Marketing
          p Research shows that integrating video into your marketing activities can help increase client acquisition rates. We offer a complete video solution from concept development, to filming, post-production, and marketing.     
    #design.tab-pane(role='tabpanel')  
      .row
        .col-sm-4
          h2 Marketing Collateral
          p Properly designed marketing collateral will properly communicate your firm’s value and attract the right types of clients.
        .col-sm-4
          h2 Corporate Brochures
          p Our team can design and manage the print production of corporate and fund brochures that will appeal to your clients.
        .col-sm-4
          h2 Presentations
          p Talk to us if you need professional presentations created to pitch funds or different investment scenarious to your clients.
      .row
        .col-sm-4
          h2 Factsheets
          p We can help you communicate your fund information in a visually appealing way.
        .col-sm-4
          h2 Investor Reports
          p Good design can help you effectively communicate to investors.
        .col-sm-4
          h2 Annual Reports
          p Our design team can help tell your story with print, interactive, and web based annual reports.
      .row
        .col-sm-4
          h2 Newsletters
          p Want to stay in touch with your clients? We can design the right newsletter concept for your firm and help manage the delivery to your target audiences.
        .col-sm-4
          h2 Print Ads
          p Baustein can design print ad campaigns to target channel partners and investors.
        .col-sm-4
          h2 Infographics
          p Communicate important information and strategies to your clients with visually appealing infographics.
      .row
        .col-sm-4
          h2 Photography
          p Baustein’s photography solutions can cover all your requirements from stock images to custom created photography.
        .col-sm-4
          h2 Video
          p Baustein provides a complete video design, filming, editing, production, and delivery solution that can enhance communication with your clients.
    #websites.tab-pane(role='tabpanel')
      .row
        .col-sm-4
          h2 Website Design & Build
          p Our modern, responsive, mobile friendly websites are designed to communicate your information and engage your clients across all devices.
        .col-sm-4
          h2 SEO
          p Our team will define the proper search engine optimisation program to increase your visibility in the most popular search engines.
        .col-sm-4
          h2 SEM
          p When you want to generate new client leads, our team can create the proper online advertising campaigns to reach your target audiences as they use search.
.container
  hr.divider
section.portfolio
  .container
    h2 Trusted by International Wealth Management Firms
  .tab_wrap
    ul#portfolio_tab
      li.portfolio-item
        div.item_first
          img.hidden(src="images/project_first.jpg", alt="AFL Investments Limited")
      li.portfolio-item
        div.item_second
          img.hidden(src="images/project_second.jpg", alt="NexGen Financial Corporation")
      li.portfolio-item
        div.item_third
          img.hidden(src="images/project_third.jpg", alt="Cidel Group") 
section.contact#contact__link 
  .container
    .row
      .contact_group
        h2
          span To learn more about how 
          span Baustein Strategic Design Group 
          span can help meet your design objectives and grow your business. 
          span Please get in touch.
      .contact_form          
        form#form_contact(role="form", action="test.php", method="POST", name="form_contact")
          .row
            .col-sm-6
              .form-group
                input.fill(type="text", name="first_name", placeholder="First Name", id="first_name", required)
            .col-sm-6
              .form-group
                input.fill(type="text", name="last_name", placeholder="Last Name", id="last_name", required)
            .col-sm-6
              .form-group
                input.fill(type="text", name="company_name", placeholder="Company Name", id="company_name", required)
            .col-sm-6
              .form-group
                input.fill(type="email", name="email_address", placeholder="Email Address", id="email_address", required)
            .col-sm-12  
              .form-group
                textarea#requirements(name="requirements", placeholder="Tell us about your requirements.", required)
          #success
          button(type="submit", role="button", id="submit", name="submit") Send
        .divider
          p
            sup **
            | The Value of Design Factfinder report, Design Council UK  
footer.site-footer
  .container
    .row
      .brand
        a(href="http://baustein.ca" target="_blank", title="Visit Baustein Strategic Design Group Inc.")
          img(src="images/icons/logo_baustein_white.svg", alt="Baustein, A Design and Visual brand agency")
      .rgd
        small Proud Member of
        img(src="images/icons/logo_rgd.svg", alt="Proud member of RGD")
      .address
        p
          | 222 Islington Ave., Studio 204<br>Toronto, ON  M8V 3W7<br>Canada
    .row
      .phone
        a(href="tel:+16474305262") +1 647 430 5262
      .copyright
        p 
          | Copyright © 2006 – 2017 
          a(href="http://baustein.ca" target="_blank", title="Visit Baustein Strategic Design Group Inc.") Baustein Strategic Design Group Inc.
          |  All Rights Reserved.