header.banner
  .container
    .row
      .site-logo
        a(href="http://baustein.ca", target="_blank", title="Visit Baustein Strategic Design Group Inc.")
          img(src="images/logo.png", alt="Baustein Strategic Design Group Inc.")
      nav.site-navigation(role="navigation")
        a.navigation__lets_talk(href="#contact__link")
          | Let's Talk
          img(src="images/icons/lets_talk.svg", alt="Let's Talk")
        a.navigation__phone(href="tel:+16474305262") +1 647 430 5262
    .row
      .site-banner
        h1.site-title
          | Build your Wealth Management Client Base. 
          span Invest in 
            strong Good Design
            | .
section.features
  .container
    .row.equal
      .feature-item  
        img.thumb.hidden(src="images/feature_first.jpg", alt="First Impressions Matter")
        .feature
          h2 First Impressions Matter
          p Potential clients form an opinion of your firm in less than 10 seconds based on the design of your brand and communication materials.
      .feature-item
        img.thumb.hidden(src="images/feature_second.jpg", alt="Propel your ROI")
        .feature
          h2 Propel your ROI
          p 75% of people judge the credibility of a business based on design. Research shows that every $100 invested in design generates $235 in company revenue
            sup *
            | .
      .feature-item.link        
        a.feature(href="http://www.pdf995.com/samples/pdf.pdf", target="_blank")            
          h2 Get the Facts
          img.icon(src="images/icons/logo_pdf.svg", alt="Get the Facts")            
          img.child_thumb(src="images/icons/logo_report.svg", alt="Get the Facts")                
          p.hidden Testing paragraph
section.advertise
  .container
    .row
      .advertise_heading
        h2 A limited marketing budget does not mean limited access to good design.
        p For roughly the same cost of a part-time designer, you can access an entire design team, each person specializing in different areas of design that will cover all of your company’s creative needs. Good design is imperative to the success of your business.
      .advertise_content
        img(src="images/icons/animation_designer.svg", alt="Sole Graphic Designer", data-aos="fade-right", data-aos-delay="1000")
        img(src="images/icons/animation_arrow.svg", alt="Arrow", data-aos="fade-right", data-aos-delay="2000")
        img(src="images/icons/animation_roles.svg", alt="Roles of a Designer", data-aos="fade-right", data-aos-delay="3000")
section.portfolio
  .tab_wrap
    ul#portfolio_tab.nav.nav-tabs(data-tabs='tabs')
      li.portfolio-item
        a.item_first(data-toggle='tab', href='#portfolio_first')
          img.hidden(src="images/project_first.jpg", alt="AFL Investments Limited")
          span
            | See More
            i.fa.fa-chevron-down(aria-hidden="true")
      li.portfolio-item
        a.item_second(data-toggle='tab', href='#portfolio_second')
          img.hidden(src="images/project_second.jpg", alt="NexGen Financial Corporation")
          span
            | See More
            i.fa.fa-chevron-down(aria-hidden="true")
      li.portfolio-item
        a.item_third(data-toggle='tab', href='#portfolio_third')
          img.hidden(src="images/project_third.jpg", alt="Cidel Group")
          span
            | See More
            i.fa.fa-chevron-down(aria-hidden="true")
    .tab-content
      #portfolio_first.tab-pane
        .row
          .portfolio_sidebar  
            span.client_name AFL Investments Limited
            span.client_location Hamilton, Bermuda
            span.client_services Logo, Factsheets, Introductory Brochure
            span.client_tags Branding, Reporting, Website (not shown)
          .portfolio_gallery
            img(src="images/portfolio_layout_afl.jpg", alt="AFL Investments Limited")
        a.close(href="#")
          span &times;
      #portfolio_second.tab-pane
        .row
          .portfolio_sidebar  
            span.client_name NexGen Financial Corporation
            span.client_location Toronto, Canada
            span.client_services Logo, Factsheets, Introductory Brochure
            span.client_tags Branding, Reporting, Website (not shown)
          .portfolio_gallery
            img(src="images/portfolio_layout_nexgen.jpg", alt="NexGen Financial Corporation")
        a.close(href="#")
          span &times;
      #portfolio_third.tab-pane
        .row
          .portfolio_sidebar  
            span.client_name Cidel Group
            span.client_location Toronto, Canada
            span.client_services Logo, Factsheets, Introductory Brochure
            span.client_tags Branding, Reporting, Website (not shown)
          .portfolio_gallery
            img(src="images/portfolio_layout_cidel.jpg", alt="Cidel Group")
        a.close(href="#")
          span &times;
section.services
  .container
    .row
      .services_heading
        h2 
          | Baustein is a multi-disciplinary creative partner – a 
          span ‘one-stop-shop’ 
          | for all your firms’ marketing and creative needs. We specialize in creating memorable brand identities and professional design solutions for all your online and print materials.
    .row
      .services_first
        p Specialized Services
        ul
          li 
            img(src="images/icons/brand_development.svg", alt="Brand Development")
            span Brand Development            
          li
            img(src="images/icons/annual_report_design.svg", alt="Annual Report Design")
            span Annual Report Design          
          li
            img(src="images/icons/website_design.svg", alt="Website Design")
            span Website Design         
          li
            img(src="images/icons/sales_material_design.svg", alt="Sales Material Design")
            span Sales Material Design         
          li
            img(src="images/icons/content_development.svg", alt="Content Development")
            span Content Development          
    .row
      .services_second
        p Truly Compelling Arguments
        ul
          li
            img(src="images/icons/extensive_experience.svg", alt="Extensive experience in corporate design")
            span Extensive experience in corporate design
          li
            img(src="images/icons/access_to_team.svg", alt="Access to an entire team at an affordable rate")
            span Access to an entire team at an affordable rate          
          li
            img(src="images/icons/timely_execution.svg", alt="Timely execution of your urgent projects")
            span Timely execution of your urgent projects            
          li
            img(src="images/icons/customized_billing.svg", alt="Customized and transparent billing model")
            span Customized and transparent billing model            
          li
            img(src="images/icons/impressive_list.svg", alt="Impressive list of premium design services")
            span Impressive list of premium design services          
          li
            img(src="images/icons/honest_approach.svg", alt="Honest, reliable and confidential approach")
            span Honest, reliable and confidential approach    
section.contact#contact__link 
  .container
    .row
      .contact_group
        h2 Get Started.
        h3 Let’s talk about how design can help grow your business.
        p I would like to book a conference call to discuss my wealth management firm’s needs.
      .contact_form          
        form#form_contact(role="form", action="", method="POST", name="form_contact")
          .form-group
            input.fill(type="text", name="first_name", placeholder="First Name", id="first_name", required)
          .form-group
            input.fill(type="text", name="last_name", placeholder="Last Name", id="last_name", required)
          .form-group
            input.fill(type="text", name="company_name", placeholder="Company Name", id="company_name", required)
          .form-group
            input.fill(type="url", name="company_website", placeholder="Company Website", id="company_website", required)
          .form-group
            input.fill(type="email", name="email_address", placeholder="Email Address", id="email_address", required)
          .form-group
            input(type="text", name="phone_number", placeholder="Phone Number e.g. 123-123-1234 (Optional)", id="phone_number", maxlength="12")
          .form-group.filled
            label(for="human") What is 5+2? (Anti-Spam)
            input(type="text", name="human", placeholder="Type your answer...")
          button(type="submit", role="button", id="submit", name="submit") Send
footer.site-footer
  .container
    .row
      .brand
        img(src="images/icons/logo_baustein_white.svg", alt="Baustein, A Design and Visual brand agency")
      .rgd
        small Proud Member of
        img(src="images/icons/logo_rgd.svg", alt="Proud member of RGD")
      .address
        p
          | 222 Islington Ave., Studio 204<br>Toronto, ON  M8V 3W7<br>Canada
    .row
      .phone
        a(href="tel:+16474305262") +1 647 430 5262
      .copyright
        p Copyright © 2006 – 2017 Baustein Strategic Design Group Inc. All Rights Reserved.
