header.banner
  .container
    .row
      .site-logo
        a(href="http://baustein.ca", target="_blank", title="Visit Baustein Strategic Design Group Inc.")
          img(src="images/logo.png", alt="Baustein Strategic Design Group Inc.")
      nav.site-navigation(role="navigation")
        a.navigation__lets_talk(href="#contact__link")
          | Let's Talk
          img(src="images/icons/lets_talk.svg", alt="Let's Talk")
        a.navigation__phone(href="tel:+16474305262") +1 647 430 5262
    .row
      .site-banner
        h1.site-title
          | Build Your Wealth Management Client Base 
          span by Investing in  
            strong Good Design.
section.features
  .container
    .row.equal
      .feature-item  
        .feature
          h2 First Impressions Matter
          p Clients form an opinion about your firm in less than 10 seconds based on the design of your brand identity, marketing materials, and digital presence.
      .feature-item
        .feature
          h2 Return On Investment
          p Research shows that every $100 invested in strategic design generates $235 in company revenue. Good design engages your clients and builds your business.
      .feature-item.link        
        .feature            
          h2 Get the Report
          p
            | 5 Things every 
            span Wealth Management Firm needs.
          a(href="https://www.designcouncil.org.uk/sites/default/files/asset/document/dc_lbbd_report_08.11.13_FA_LORES.pdf", target="_blank", title="Click here to get the Report")
            img(src="images/icons/logo_pdf.svg", alt="Get the Report")
            span Report
section.advertise
  .container
    .row
      .advertise_heading
        h2 A limited marketing budget does not mean limited access to good design.
        p For roughly the same cost of a full-time designer, you can access an entire design team, each person specializing in the different aspects of design that will cover all your company’s creative needs. Good design can add value to any business.
      .advertise_content
        img(src="images/icons/animation_designer.svg", alt="Sole Graphic Designer", data-aos="fade-right", data-aos-delay="1000")
        img(src="images/icons/animation_arrow.svg", alt="Arrow", data-aos="fade-right", data-aos-delay="2000")
        img(src="images/icons/animation_roles.svg", alt="Roles of a Designer", data-aos="fade-right", data-aos-delay="3000")
section.services
  .container
    .row
      .services_heading
        h2 Baustein Strategic Design Group
        p 
          | Baustein is a multi-disciplinary creative partner – a 
          span ‘one-stop-shop’ 
          | for all your firms’ marketing and creative needs. We specialize in creating memorable brand identities and professional design solutions for all your online and print materials.        
    .row
      .services_second
        ul
          li
            img(src="images/icons/extensive_experience.svg", alt="Extensive experience in corporate design")
            span Extensive design experience and a knowledgeable team
          li
            img(src="images/icons/access_to_team.svg", alt="Access to an entire team at an affordable rate")
            span Access to an entire team of experts at an affordable rate            
          li
            img(src="images/icons/customized_billing.svg", alt="Customized and transparent billing model")
            span Customized and transparent billing model          
          li
            img(src="images/icons/honest_approach.svg", alt="Honest, reliable and confidential approach")
            span Honest, reliable and confidential approach 
section.expertise
  .nav-tabs__bg    
    ul#expertise_tab.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#brand_development', aria-controls='brand_development', role='tab', data-toggle='tab') Brand Development
      li(role='presentation')
        a(href='#marketing', aria-controls='marketing', role='tab', data-toggle='tab') Marketing
      li(role='presentation')
        a(href='#design', aria-controls='design', role='tab', data-toggle='tab') Design
      li(role='presentation')
        a(href='#websites', aria-controls='websites', role='tab', data-toggle='tab') Websites
  .tab-content
    #brand_development.tab-pane.active(role='tabpanel')
      .row
        .col-sm-4
          h2 Branding & Visual Identity
          p We offer a range of creative solutions including naming, brand positioning and visual identity design.
        .col-sm-4
          h2 Logo & Wordmark Design
          p Our team of designers create appealing logos that will engage your target audiences. Your logo or wordmark is the core of your brand identity.
        .col-sm-4
          h2 Typographic Treatments
          p A great brand identity requires an equally strong family of fonts that will work well across all print and digital media. 
      .row
        .col-sm-4
          h2 Colour Palette
          p A strategically chosen colour palette is often what really ties all your marketing materials together. Our designers will advise you on the proper colour palette for your brand identity.
        .col-sm-4
          h2 Visual Language
          p We help you create the proper visual language for your band voice. This may include iconography, photographic imagery, and other graphic elements.
        .col-sm-4
          h2 Brand Guidelines
          p Your brand guidelines define the use of your brand elements and creates a unified brand message across all channels and media.
    #marketing.tab-pane(role='tabpanel')
      .row
        .col-sm-4
          h2 Marketing Strategy
          p Our team of strategists can help you identify the your ideal types of clients and define the proper activities and tactics to reach them.
        .col-sm-4
          h2 Content Marketing
          p Great content marketing leads to higher visibility in search engines, more referral traffic to your website, more leads, and increased client acquisitions.
        .col-sm-4
          h2 Lead Generation
          p We can help you create print and digital based lead generation campaigns to reach your target audiences and build your sales pipeline.
      .row
        .col-sm-4
          h2 Social Media Strategy
          p Baustein can help you make sure that your social media activities and presence delivers the right message to your target clients.
        .col-sm-4
          h2 Email Marketing
          p We can help you create engaging email campaigns that generate leads, conversions, and new clients for your wealth management firm.
        .col-sm-4
          h2 Video Marketing
          p Research shows that video can help increase conversion by 80%. We offer a complete video solution from concept development, to filming, post-production, and marketing.     
    #design.tab-pane(role='tabpanel')  
      .row
        .col-sm-4
          h2 Marketing Collateral
          p Our design team creates marketing materials that will properly communicate your brand messages and build your business.
        .col-sm-4
          h2 Corporate Brochures
          p Baustein can design and manage the print production of corporate and fund brochures that will engage your clients.
        .col-sm-4
          h2 Presentations
          p Our design team can help you create professional presentations to pitch or funds and investment scenarios to your clients.
      .row
        .col-sm-4
          h2 Factsheets
          p Build your brand by communicating your fund information to your clients in a visually appealing way.
        .col-sm-4
          h2 Investor Reports
          p Good design can help you communicate your messages and value to current and potential investors.
        .col-sm-4
          h2 Annual Reports
          p Our design team can design and produce your print and digital annual reports. 
      .row
        .col-sm-4
          h2 Newsletters
          p Newsletters can be an effective way of staying in touch with your clients. Baustein can design the proper newsletter concept for your firm and help manage the delivery to your target audiences.
        .col-sm-4
          h2 Print Ads
          p Baustein can work with you to design print ad campaigns to target investors and channel partners.
        .col-sm-4
          h2 Infographics
          p We can design visually appealing infographics to clearly communicate key information and strategies to your clients and target audiences.
      .row
        .col-sm-4
          h2 Photography
          p Baustein’s photography solutions cover all requirements from stock photography to custom created imagery. We will find the right solution for your brand and budget.
        .col-sm-4
          h2 Video
          p Baustein provides a complete video design, filming, editing, production, and delivery solution that can enhance your communications with your customers.
        .col-sm-4
          h2 Website
          p Our modern, mobile friendly websites are designed to properly communicate your brand messages across all devices.
    #websites.tab-pane(role='tabpanel')
      .row
        .col-sm-4
          h2 Website Design & Build
          p Our modern, mobile friendly websites are designed to properly communicate your brand messages across all devices.
        .col-sm-4
          h2 SEO
          p Our team will design the proper search engine optimisation program to increase your visibility and traffic from the leading search engines used by your target audiences.
        .col-sm-4
          h2 SEM
          p Baustein can help create, design, and implement the proper online advertising campaigns to reach your target audiences as they use search engines.
.container
  hr.divider
section.portfolio
  .container
    h2 Trusted by International Wealth Management Firms
  .tab_wrap
    ul#portfolio_tab.nav.nav-tabs(data-tabs='tabs')
      li.portfolio-item
        a.item_first(data-toggle='tab', href='#portfolio_first')
          img.hidden(src="images/project_first.jpg", alt="AFL Investments Limited")
          span
            img(src="images/icons/logo_more.svg", alt="See more")
      li.portfolio-item
        a.item_second(data-toggle='tab', href='#portfolio_second')
          img.hidden(src="images/project_second.jpg", alt="NexGen Financial Corporation")
          span
            img(src="images/icons/logo_more.svg", alt="See more")
      li.portfolio-item
        a.item_third(data-toggle='tab', href='#portfolio_third')
          img.hidden(src="images/project_third.jpg", alt="Cidel Group")
          span
            img(src="images/icons/logo_more.svg", alt="See more")
    .tab-content
      #portfolio_first.tab-pane
        .row
          .portfolio_sidebar  
            span.client_name AFL Investments Limited
            span.client_location Hamilton, Bermuda
            span.client_services Logo, Factsheets, Introductory Brochure
            span.client_tags Branding, Reporting, Website (not shown)
          .portfolio_gallery
            img(src="images/portfolio_layout_afl.jpg", alt="AFL Investments Limited")
        a.close(href="#")
          span &times;
      #portfolio_second.tab-pane
        .row
          .portfolio_sidebar  
            span.client_name NexGen Financial Corporation
            span.client_location Toronto, Canada
            span.client_services Logo, Factsheets, Introductory Brochure
            span.client_tags Branding, Reporting, Website (not shown)
          .portfolio_gallery
            img(src="images/portfolio_layout_nexgen.jpg", alt="NexGen Financial Corporation")
        a.close(href="#")
          span &times;
      #portfolio_third.tab-pane
        .row
          .portfolio_sidebar  
            span.client_name Cidel Group
            span.client_location Toronto, Canada
            span.client_services Logo, Factsheets, Introductory Brochure
            span.client_tags Branding, Reporting, Website (not shown)
          .portfolio_gallery
            img(src="images/portfolio_layout_cidel.jpg", alt="Cidel Group")
        a.close(href="#")
          span &times;   
section.contact#contact__link 
  .container
    .row
      .contact_group
        h2
          span To learn more about how 
          span Baustein Strategic Design Group 
          span can help meet your design objectives and grow your business. 
          span Please get in touch.
      .contact_form          
        form#form_contact(role="form", action="", method="POST", name="form_contact")
          .row
            .col-sm-6
              .form-group
                input.fill(type="text", name="first_name", placeholder="First Name", id="first_name", required)
            .col-sm-6
              .form-group
                input.fill(type="text", name="last_name", placeholder="Last Name", id="last_name", required)
            .col-sm-6
              .form-group
                input.fill(type="text", name="company_name", placeholder="Company Name", id="company_name", required)
            .col-sm-6
              .form-group
                input.fill(type="url", name="company_website", placeholder="Company Website", id="company_website", required)
            .col-sm-6
              .form-group
                input.fill(type="email", name="email_address", placeholder="Email Address", id="email_address", required)
            .col-sm-6
              .form-group
                input(type="text", name="phone_number", placeholder="Phone Number e.g. 123-123-1234 (Optional)", id="phone_number", maxlength="12")
            .col-sm-12  
              .form-group
                textarea#requirements(name="requirements", placeholder="Tell us about your requirements.")
            .col-sm-12
              .form-group.filled
                label(for="human") What is 5+2? (Anti-Spam)
                input(type="text", name="human", placeholder="Type your answer...")
          button(type="submit", role="button", id="submit", name="submit") Send
footer.site-footer
  .container
    .row
      .brand
        img(src="images/icons/logo_baustein_white.svg", alt="Baustein, A Design and Visual brand agency")
      .rgd
        small Proud Member of
        img(src="images/icons/logo_rgd.svg", alt="Proud member of RGD")
      .address
        p
          | 222 Islington Ave., Studio 204<br>Toronto, ON  M8V 3W7<br>Canada
    .row
      .phone
        a(href="tel:+16474305262") +1 647 430 5262
      .copyright
        p Copyright © 2006 – 2017 Baustein Strategic Design Group Inc. All Rights Reserved.
