header.banner
  .container
    .row
      .site-logo
        a(href="http://baustein.ca", target="_blank", title="Visit Baustein Strategic Design Group Inc.")
          img(src="images/logo.png", alt="Baustein Strategic Design Group Inc.")
    .row
      .thanks
        .thanks_wrap        
          h1.site-title
            | Thank you for contacting us. We will get in touch with you shortly.
          a.btn.btn_previous(href="index.php", title="Return to previous page") Return to previous page
          a.btn.btn_website(href="http://baustein.ca", target="_blank", title="Visit Baustein Strategic Design Group Inc.") Visit our site
